# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Handler para guardar logs en la base de datos
    App\Monolog\DatabaseHandler:
        arguments:
            - '@doctrine.orm.entity_manager'
        tags:
            - { name: monolog.handler, channel: audit, handler: audit }

    # Listener para auditar acciones en Doctrine (INSERT/UPDATE/DELETE)
    App\EventListener\DoctrineAuditSubscriber:
        arguments:
            $logger: '@monolog.logger.audit'
        tags:
            - { name: doctrine.event_subscriber }


    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
